body{
    background-color: cornflowerblue;
    text-align: center;
    font-family: fantasy;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'cursive';
}
h2{
    font-size: 2.5rem;
}

.top_container{

}
.middle-container{

}

.bottom-container{

}

.bot_cloud{
    position: absolute;
}